.Weather {
  border: solid 2px lightblue;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 0% auto;
  margin-top: 50px;
}
.Weather ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

.temperature {
  font-size: 50px;
  color: green;
}
