.Weather {
  border: solid 2px lightblue;
  padding: 20px;
  max-width: 500px;
  margin: 0% auto;
  margin-top: 50px;
}
.Weather ul {
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.Weather img {
  width: 70px;
}
